<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="host" value="https://devensoft.youtrack.cloud"/>
    <add key="username" value="dbustamante"/>
    <add key="auth.token" value="perm:ZGJ1c3RhbWFudGU=.NTUtMQ==.VMNwGCH983nw4k1HT8hglerKVMLbiY"/>

    <!--test for existing user-->
    <add key="test.authUserEmail" value="dbustamante@devensoft.com"/>
    
    <!--issue key for an issue that exists-->
    <add key="test.issueKey" value="APPSVC1-54"/>
    <add key="test.fieldName" value="reporterName"/>
    <add key="test.fieldValue" value="dbustamante"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
