<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="http://issues.domain.com"/>
    <add key="username" value="myusername" />
    <add key="password" value="mypassword" />
    <add key="auth.token" value="perm:ZGJaksdjfadjfa3SDAFDSKDFmksamdsadmalsmdasidmia###FAKE" />

    <!--test for existing user-->
    <add key="test.authUserEmail" value="email@myemail.com"/>
    
    <!--issue key for an issue that exists-->
    <add key="test.issueKey" value="PRJ-1300"/>
    <add key="test.fieldName" value="reporterName"/>
    <add key="test.fieldValue" value="value case sensitive"/>
  </appSettings>
</configuration>