<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="host" value="http://localhost:8090" />
    <add key="username" value="project-manager" />
    <add key="auth.token" value="perm:cHJvZHVjdC1tYW5hZ2Vy.cHNjbS10ZXN0.FAKETESTKEY" />

    <!--test for existing user-->
    <add key="test.authUserEmail" value="pm@company.com" />
    
    <!--issue key for an issue that exists-->
    <add key="test.issueKey" value="TICKETKEY-1" />
    <add key="test.fieldName" value="reporterName" />
    <add key="test.fieldValue" value="product-manager" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
